[includeIf "gitdir:~/**"]
	path = ~/.config/git/personal
[includeIf "gitdir:~/work/**"]
	path = ~/.config/git/work
[pager]
	branch = false
[core]
	autocrlf = input
	editor = nvim
[push]
	default = current
[init]
	defaultBranch = main
[branch]
	sort = -committerdate
[log]
	date = iso
[alias]
	graph = log --all --graph --decorate --oneline
[diff]
	tool = nvimdiff
