set relativenumber
let mapleader = ' '
vmap K <Action>(MoveLineUp)
vmap J <Action>(MoveLineDown)

set nohlsearch
set incsearch
" Use system clipboard - also want to match my main init.lua
set clipboard=unnamedplus

" Errors
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
