set relativenumber
let mapleader = ' '
vmap K <Action>(MoveLineUp)
vmap J <Action>(MoveLineDown)

" Escape
imap jj <Esc>
cmap jj <Esc>

set nohlsearch
set incsearch

" Use system clipboard - also want to match my main init.lua
set clipboard=unnamedplus
set highlightedyank

" Errors
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)

" Comments
nmap gcc <Action>(CommentByLineComment)
vmap gc <Action>(CommentByLineComment)

nmap <Leader>nf <Action>(NewFile)
nmap <Leader>f <Action>(ReformatCode)

" Rename
nmap <Leader>rn <Action>(RenameElement)

" Context Actions/Code Actions
nmap <Leader>ca <Action>(ShowIntentionActions)
