set relativenumber
let mapleader = ' '
vnoremap K :m '<-2<CR>gv=gv
vnoremap J :m '>+1<CR>gv=gv

set nohlsearch
set incsearch
" Use system clipboard - also want to match my main init.lua
set clipboard=unnamedplus
